{% extends "base.html" %}

{% block content %}
    <h1>Top Balances</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nickname</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ player.nickname }}</td>
                <td>{{ player.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}